body{
    /* height: 610px; */
    /* width: 1326px; */
    background-image:url(../images/bg.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.content{
    background-color:white;
    height: 480px;
    width: 660px;
    margin: 80px 333px 50px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.left{
    width: 395px;
    height: 100%;
    float: left;
    padding: 45px 0px 20px 50px;
}
.xiaohui{
    height: 35px;
    padding-right: 35px;
}
.form-control{
    margin: 20px 0px;
    height: 45px;
}
#inputPassword{
    margin-bottom: 45px;
}
.checkbox a{
    float: right;
}
.btn-login{
    margin-top: 50px;
    height: 45px;
}
.footer{
    position: relative;
    bottom: 0px;
}
.footer>a{
    float: right;
}
.border{
    width: 35px;
    height: 100%;
    float: left;
    position: relative;
}
.border img{
    height: auto;
    position: absolute;
    right: -2px;
    top: 40px;
}
.right{
    width: 230px;
    height: 100%;
    float: left;
    position: relative;
}
.right>*{
    position: absolute;
}
.health{
    top: 80px;
    right: 85px;
    width: 85px;
    z-index: 1;
}
.handcode{
    top: 167px;
    right: 92px;
    width: 85px;
    z-index: 1;
}
.code{
    top: 182px;
    right: 65px;
    width: 136px;
}
.codeDescrip{
    top: 340px;
    right: 60px;
    width: 146px;
}
